<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나랏말</title>
    <!-- core:css -->
    <link rel="stylesheet" href="/admin/vendors/core/core.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/admin/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/images/favicon.png"/>
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <div th:replace="admin/fragments/sidebar.html :: sidebar"/>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content" style="margin-top: 0;">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">수정 요청</h6>
                            <div class="table-responsive">
                                <table id="dataTableExample" class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>제목</th>
                                        <th>등록날짜</th>
                                        <th>내용</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="request : ${requestList}">
                                    <tr>
                                        <td th:text="${request.id}">Id</td>
                                        <td th:text="${request.item.title}">제목</td>
                                        <td th:text="${#temporals.format(request.createdDate, 'yyyy.MM.dd')}">등록날짜</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs"
                                                    onclick="setModalInfo(this)"
                                                    data-target="#detail-modal" data-toggle="modal"
                                                    th:data-content="${request.content}">
                                                <i class="link-icon" data-feather="plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail-modal" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="title" id="staticBackdropLabel">제목</h3>
            </div>
            <div class="modal-body text-start">
                <h5 class="description">내용</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closed active" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger closed active" data-dismiss="modal">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<script src="/admin/vendors/core/core.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="/admin/vendors/feather-icons/feather.min.js"></script>
<script src="/admin/js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="/admin/js/data-table.js"></script>
<!-- end custom js for this page -->
<script>
    const detail_modal = document.querySelector('#detail-modal');
    const detail_modal_title = detail_modal.querySelector('.title');
    const detail_modal_description = detail_modal.querySelector('.description');

    function setModalInfo(elem) {
        const title = elem.closest('tr').querySelector('td:nth-child(2)').innerText;
        const content = elem.dataset.content;
        detail_modal_title.innerText = title;
        detail_modal_description.innerText = content;
    }
</script>
</body>
</html>