<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나랏말</title>
    <!-- core:css -->
    <link rel="stylesheet" href="/admin/vendors/core/core.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/admin/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/images/favicon.png"/>

    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <div th:replace="admin/fragments/sidebar.html :: sidebar"/>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content" style="margin-top: 0;">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body position-relative">
                            <h6 class="card-title">카드</h6>
                            <button class="btn btn-primary position-absolute"
                                    data-target="#create-modal" data-toggle="modal"
                                    style="right: 20px; top: 20px;">카드 추가
                            </button>
                            <div class="table-responsive">
                                <table id="dataTableExample" class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>제목</th>
                                        <th>조회수</th>
                                        <th>수정날짜</th>
                                        <th>내용</th>
                                        <th>삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="item : ${itemList}">
                                    <tr>
                                        <td th:text="${item.id}">Id</td>
                                        <td th:text="${item.title}">제목</td>
                                        <td th:text="${item.visited}">조회수</td>
                                        <td th:text="${#temporals.format(item.updatedDate, 'yyyy.MM.dd')}">수정날짜</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs"
                                                    data-target="#desc-modal" data-toggle="modal"
                                                    onclick="setDescModal(this.dataset)"
                                                    th:data-id="${item.id}"
                                                    th:data-desc="${item.description}">
                                                <i class="link-icon" data-feather="plus"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-xs" th:onclick="'deleteItem(' + ${item.id} + ')'">
                                                <i class="link-icon" data-feather="x"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="create-modal" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">카드 추가</h2>
            </div>
            <div class="modal-body text-start">
                <form id="new-request-form">
                    <div class="mt-2">
                        <label for="title" class="col-form-label">제목을 입력해주세요</label>
                        <input type="text" class="form-control" id="title" placeholder="예)안돼 vs 않돼">
                    </div>
                    <div class="mt-2">
                        <label for="description" class="col-form-label">설명을 입력해주세요</label>
                        <textarea style="line-height: 1.5" class="form-control" id="description" rows="10" placeholder="설명을 입력해주세요."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary edit" onclick="createItem();">추가</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="desc-modal" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">내용</h3>
            </div>
            <div class="modal-body text-start">
                <div class="mt-2">
                    <label for="description" class="col-form-label d-none"></label>
                    <textarea class="form-control" rows="10" id="update-desc"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary edit" onclick="updateItem();">수정</button>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<script src="/admin/vendors/core/core.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="/admin/vendors/feather-icons/feather.min.js"></script>
<script src="/admin/js/template.js"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="/admin/js/data-table.js"></script>
<!-- end custom js for this page -->
<script>
    const title_input = document.querySelector('#title');
    const description_input = document.querySelector('#description');
    const modal_desc = document.querySelector('#desc-modal textarea');

    function createItem() {
        const title = title_input.value;
        const description = description_input.value;

        const data = {
            title, description
        }
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;'
            },
            body: JSON.stringify(data)
        }
        fetch('/api/item', options)
            .then(res => res.json())
            .then(res => {
                if (res.data) location.reload();
            })
            .catch(e => {
                console.error(e);
            });
    }

    function setDescModal({id, desc}) {
        modal_desc.value = desc;
        modal_desc.dataset.id = id;
    }

    function updateItem() {
        const description = modal_desc.value;
        const id = modal_desc.dataset.id;
        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json;'
            },
            body: JSON.stringify({description})
        }
        fetch('/api/item/' + id, options)
            .then(res => res.json())
            .then(res => {
                if (res.data) location.reload();
            })
            .catch(e => {
                console.error(e);
            });
    }

    function deleteItem(itemId) {
        if (!confirm('해당 카드를 정말 삭제하시겠습니까?')) return;

        fetch('/api/item/' + itemId, {method: 'DELETE'})
            .then(res => res.json())
            .then(res => {
                if (res.data)
                    location.reload();
            })
            .catch(e => {
                console.error(e);
            });
    }
</script>
</body>
</html>