<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>나랏말</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main class="container-fluid">
    <div id="main-wrapper">
        <h1>나랏말</h1>
        <h3>헷갈리는 맞춤법, 한번에 확인하세요</h3>
        <div id="search-bar">
            <input type="text" placeholder="검색어 입력 후 Enter"/>
        </div>

        <div id="card-wrapper">
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" th:each="item : ${itemList}" th:data-id="${item.id}">
                <div class="card-body">
                    <h2 th:text="${item.title}">card card</h2>
                </div>
            </div>
        </div>

        <button id="new-request-button" data-bs-target="#request-modal" data-bs-toggle="modal">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 0C7.44772 0 7 0.447715 7 1V7H1C0.447715 7 0 7.44772 0 8C0 8.55229 0.447715 9 1 9H7V15C7 15.5523 7.44772 16 8 16C8.55229 16 9 15.5523 9 15V9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H9V1C9 0.447715 8.55229 0 8 0Z" fill="white"/>
            </svg>
            <span>추가 요청</span>
        </button>
    </div>
</main> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>


<!-- Modal -->
<div class="modal fade" id="detail-modal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Modal title</h2>
                <button class="like" onclick="likeItem(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4318FF" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                     0
                </button>
            </div>
            <div class="modal-body text-start">
                <h3 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis, dolorem dolores fugit modi obcaecati omnis quas quibusdam similique voluptate.</h3>
                <form id="edit-request-form">
                    <div class="mt-2">
                        <h2 class="text-start mt-3">수정 요청</h2>
                        <textarea class="form-control" id="edit-request-content" rows="10" placeholder="설명을 입력해주세요."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closed active" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary closed active" id="edit-request-button">
                    <svg width="16" height="16" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4648 1.09154C19.0743 0.701014 18.4411 0.701014 18.0506 1.09154C17.9516 1.19055 17.8015 1.21467 17.6708 1.16439C16.5979 0.751689 15.3358 0.977943 14.4706 1.84315L3.59661 12.7172C3.44041 12.8734 3.44041 13.1266 3.59662 13.2828L8.68778 18.374C8.84399 18.5302 9.09726 18.5302 9.25347 18.374L20.1274 7.5C20.9926 6.6348 21.2189 5.3726 20.8062 4.29977C20.7559 4.16907 20.78 4.01897 20.879 3.91997C21.2696 3.52944 21.2696 2.89628 20.879 2.50575L19.4648 1.09154ZM18.954 5.27925C19.1103 5.43546 19.1103 5.68872 18.954 5.84493L9.25347 15.5456C9.09726 15.7018 8.84399 15.7018 8.68778 15.5456L6.42504 13.2828C6.26883 13.1266 6.26883 12.8734 6.42504 12.7172L16.1256 3.01651C16.2818 2.8603 16.5351 2.8603 16.6913 3.01651L18.954 5.27925Z" fill="white"/>
                        <path d="M0.675362 21.766C0.376756 21.8475 0.102765 21.5735 0.184213 21.2749L1.94032 14.8367C2.02114 14.5404 2.39192 14.4419 2.60908 14.6591L7.29086 19.3415C7.50801 19.5587 7.40954 19.9295 7.11324 20.0103L0.675362 21.766Z" fill="white"/>
                    </svg>
                    <span>수정요청</span>
                </button>

                <button type="button" class="btn btn-secondary opened" id="shrink-button">취소</button>
                <button type="button" class="btn btn-primary opened" onclick="submitAmendRequest();">제출</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="request-modal" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">추가 요청</h2>
            </div>
            <div class="modal-body text-start">
                <h5>추가하고 싶은 맞춤법 혼동 사례를 제출 해 주시면 관리자가 확인 후 반영해드립니다.</h5>
                <form id="new-request-form">
                    <div class="mt-2">
                        <label for="request-title" class="col-form-label">제목을 입력해주세요</label>
                        <input type="text" class="form-control" id="request-title" placeholder="예)안돼 vs 않돼">
                    </div>
                    <div class="mt-2">
                        <label for="request-description" class="col-form-label">설명을 입력해주세요</label>
                        <textarea class="form-control" id="request-description" rows="10" placeholder="설명을 입력해주세요."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary edit" onclick="submitNewRequest();">제출</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const detail_modal = document.getElementById('detail-modal');
    const request_modal = document.getElementById('request-modal');
    const edit_request_button = document.getElementById('edit-request-button');
    const shrink_button = document.getElementById('shrink-button');
    const edit_request_form = document.getElementById('edit-request-form');
    const detail_modal_bs = new bootstrap.Modal(detail_modal);
    const request_modal_bs = new bootstrap.Modal(request_modal);
    const edit_request_textarea = edit_request_form.querySelector('textarea');
    const search_input = document.querySelector('#search-bar input');
    const cards = document.querySelectorAll('#card-wrapper .card');
    const heart_fill_svg = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4318FF" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>`;
    const heart_empty_svg = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4318FF" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>`;

    const attachCardClickEventHandler = (card) => {
        card.addEventListener('click', async () => {
            const itemId = card.dataset.id;
            const {title, description, liked, count} = await fetchItem(itemId);

            detail_modal.querySelector('.modal-title').innerText = title;
            detail_modal.querySelector('.description').innerText = description;
            edit_request_textarea.dataset.id = itemId;
            detail_modal.querySelector('.like').innerHTML = liked ?
                heart_fill_svg + count :
                heart_empty_svg + count;
            detail_modal_bs.show();
        });
    }
    cards.forEach(attachCardClickEventHandler);

    const fetchItem = (itemId) => {
        return fetch('/api/item/' + itemId)
            .then(res => res.json())
            .then(res => res.data)
            .catch(e => {
                console.error(e);
            });
    };

    const submitNewRequest = () => {
        const title_element = request_modal.querySelector('#request-title');
        const title = title_element.value;
        const content_element = request_modal.querySelector('#request-description');
        const content = content_element.value;
        registerNewRequest(title, content)
            .then(res => {
                if (res === true) {
                    alert('요청이 등록되었습니다. 감사합니다.')
                    title_element.value = '';
                    content_element.value = '';
                    request_modal_bs.hide();
                } else {
                    alert(res);
                }
            });
    };

    const registerNewRequest = (title, content) => {
        const data = {
            title, content
        }
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;'
            },
            body: JSON.stringify(data)
        }
        return fetch('/api/new-request', options)
            .then(res => res.json())
            .then(res => res.data)
            .catch(e => {
                console.error(e);
            });
    };


    const toggleEditRequestFormArea = (open_mode) => {
        edit_request_form.classList.toggle('active', open_mode);
        const closed_buttons = detail_modal.querySelectorAll('.closed');
        const opened_buttons = detail_modal.querySelectorAll('.opened');
        closed_buttons.forEach(btn => { btn.classList.toggle('active', !open_mode) });
        opened_buttons.forEach(btn => { btn.classList.toggle('active', open_mode) });
    };
    const expandEditRequestFormArea = () => { toggleEditRequestFormArea(true); };
    const shrinkEditRequestFormArea = () => { toggleEditRequestFormArea(false); };

    edit_request_button.addEventListener('click', expandEditRequestFormArea);
    shrink_button.addEventListener('click', shrinkEditRequestFormArea);
    detail_modal.addEventListener('hide.bs.modal', shrinkEditRequestFormArea);

    const registerAmendRequest = (itemId, content) => {
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;'
            },
            body: JSON.stringify({itemId, content})
        }
        return fetch('/api/amend-request', options)
            .then(res => res.json())
            .then(res => res.data)
            .catch(e => {
                console.error(e);
            });
    };

    const submitAmendRequest = async () => {
        const content = edit_request_textarea.value;
        const itemId = edit_request_textarea.dataset.id;
        const res = await registerAmendRequest(itemId, content);
        if (res === true) {
            alert('수정 요청이 등록되었습니다.');
            edit_request_textarea.value = '';
            detail_modal_bs.hide();
        } else {
            alert(res);
        }
    };

    search_input.addEventListener('keyup', (e) => {
        if (e.code === 'Enter')
            filterCardsByQuery(e.target.value);
    });

    const filterCardsByQuery = (query) => {
        cards.forEach(card => {
           const has_query = card.querySelector('h2').innerText.includes(query);
           card.classList.toggle('d-none', !has_query);
        });
    };

    function likeItem(elem) {
        const id = edit_request_textarea.dataset.id;
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;'
            },
            body: JSON.stringify({id})
        }
        fetch('/api/item/' + id + '/like', options)
            .then(res => res.json())
            .then(res => res.data)
            .then(liked => {
                const prev_count = parseInt(elem.innerText);
                elem.innerHTML = liked ?
                    heart_fill_svg + (prev_count + 1) :
                    heart_empty_svg + (prev_count - 1);
            })
            .catch(e => {
                console.error(e);
            });
    }
</script>
</body>
</html>